In [1]:
import pandas as pd
import numpy as np

In [2]:
departments = pd.read_csv("Resources/departments.csv")
dept_emp = pd.read_csv("Resources/dept_emp.csv")
dept_manager = pd.read_csv("Resources/dept_manager.csv")
employees = pd.read_csv("Resources/employees.csv")
salaries = pd.read_csv("Resources/salaries.csv")
titles = pd.read_csv("Resources/titles.csv")

In [3]:
# departments

In [4]:
# dept_emp

In [5]:
# len(dept_emp)

In [6]:
# dept_emp.nunique()

In [7]:
# dept_emp['dup_emp_no'] = dept_emp.duplicated(subset=['emp_no'],keep=False)
# dept_emp

In [8]:
# dept_emp = dept_emp.loc[(dept_emp['dup_emp_no'] == True)]
# dept_emp

In [9]:
# dept_emp['dup_entries'] = dept_emp.duplicated(keep=False)
# dept_emp

In [10]:
# dept_emp = employees.loc[(dept_emp['dup_entries'] == "True")]
# dept_emp

In [4]:
len(dept_manager)

24

In [12]:
# dept_manager['dup_entries'] = dept_manager.duplicated(keep=False)
# dept_manager

In [13]:
# employees

In [14]:
# employees['dup_employees'] = employees.duplicated(subset='emp_no',keep=False)
# employees

In [15]:
# employees.nunique()

# dup_emps = employees.loc[(employees['dup_employees'] == "True")]
# dup_emps

In [16]:
salaries

        emp_no  salary
0        10001   60117
1        10002   65828
2        10003   40006
3        10004   40054
4        10005   78228
...        ...     ...
300019  499995   40000
300020  499996   58058
300021  499997   49597
300022  499998   40000
300023  499999   63707

[300024 rows x 2 columns]

In [17]:
salaries['dup_employees'] = salaries.duplicated(subset='emp_no',keep=False)
salaries

        emp_no  salary  dup_employees
0        10001   60117          False
1        10002   65828          False
2        10003   40006          False
3        10004   40054          False
4        10005   78228          False
...        ...     ...            ...
300019  499995   40000          False
300020  499996   58058          False
300021  499997   49597          False
300022  499998   40000          False
300023  499999   63707          False

[300024 rows x 3 columns]

In [19]:
salaries = salaries.loc[(salaries['dup_employees'] == True)]
salaries

Empty DataFrame
Columns: [emp_no, salary, dup_employees]
Index: []

In [ ]:
# titles