In [1]:
import pandas as pd
import numpy as np

In [2]:
departments = pd.read_csv("Resources/departments.csv")
dept_emp = pd.read_csv("Resources/dept_emp.csv")
dept_manager = pd.read_csv("Resources/dept_manager.csv")
employees = pd.read_csv("Resources/employees.csv")
salaries = pd.read_csv("Resources/salaries.csv")
titles = pd.read_csv("Resources/titles.csv")

In [3]:
# departments

In [4]:
# dept_emp

In [5]:
# len(dept_emp)

In [6]:
# dept_emp.nunique()

In [7]:
# dept_emp['dup_emp_no'] = dept_emp.duplicated(subset=['emp_no'],keep=False)
# dept_emp

In [8]:
# dept_emp = dept_emp.loc[(dept_emp['dup_emp_no'] == True)]
# dept_emp

In [9]:
# dept_emp['dup_entries'] = dept_emp.duplicated(keep=False)
# dept_emp

In [10]:
# dept_emp = employees.loc[(dept_emp['dup_entries'] == "True")]
# dept_emp

In [11]:
# len(dept_manager)

In [12]:
# dept_manager['dup_entries'] = dept_manager.duplicated(keep=False)
# dept_manager

In [4]:
employees.sort_values(['emp_no'])

        emp_no emp_title_id birth_date first_name last_name sex   hire_date
200187   10001        e0003   9/2/1953     Georgi   Facello   M   6/26/1986
166677   10002        s0001   6/2/1964    Bezalel    Simmel   F  11/21/1985
73092    10003        e0003  12/3/1959      Parto   Bamford   M   8/28/1986
203459   10004        e0003   5/1/1954  Chirstian   Koblick   M   12/1/1986
141227   10005        s0001  1/21/1955    Kyoichi  Maliniak   M   9/12/1989
...        ...          ...        ...        ...       ...  ..         ...
224550  499995        e0002  9/24/1958     Dekang  Lichtner   F   1/12/1993
108181  499996        e0003   3/7/1953       Zito      Baaz   M   9/27/1990
67702   499997        e0003   8/3/1961    Berhard    Lenart   M   4/21/1986
209152  499998        s0001   9/5/1956   Patricia   Breugel   M  10/13/1993
114041  499999        e0002   5/1/1958     Sachin   Tsukuda   M  11/30/1997

[300024 rows x 7 columns]

In [14]:
# employees['dup_employees'] = employees.duplicated(subset='emp_no',keep=False)
# employees

In [15]:
# employees.nunique()

# dup_emps = employees.loc[(employees['dup_employees'] == "True")]
# dup_emps

In [18]:
salaries.loc[(salaries['emp_no']==43471)]

       emp_no  salary
33470   43471   40023

In [ ]:
# salaries['dup_employees'] = salaries.duplicated(subset='emp_no',keep=False)
# salaries

In [ ]:
salaries = salaries.loc[(salaries['dup_employees'] == True)]
salaries

In [ ]:
# titles